.add-review-modal {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 300;
  top: 180px;
  left: 50%;
  margin-left: -250px;
  padding-bottom: 16px;
  position: fixed;
}

.review-modal {
  position: relative;
}

.review-modal #review-modal-header h2 {
  padding: 10px;
  color: #fff;
  background-color: #222;
  font-weight: 600;
}

#modal-overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100vh;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.review-form-content {
  padding: 16px;
  background-color: #fff;
}

#review-form-description {
  resize: none;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  border-radius: 4px;
  width: 78%;
  height: 70px;
  margin-right: 10px;
  font-size: 1em;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  font-size: 0.9em;
}

#review-photo-button {
  vertical-align: top;
  width: 16.8%;
  height: 76px;
  text-indent: -9999px;
  padding: 0;
  background-image: image-url("checkin_photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffcc00;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

#review-photo-button:hover {
  background-color: #f4b800;
}

#close-modal {
  display: block;
  vertical-align: baseline;
  height: 16px;
  width: 16px;
  margin: 10px;
  background-image: image-url("close_modal.png");
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  cursor: pointer;
}

#review-form input[type=range] {
  width: 70%;
}

#review-form .submit-review {
  // position: absolute;
  // right: 16px;
  // bottom: 10px;
  padding: 8px 38px;
  background-color: #ffcc00;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 80px;
}

#review-form .submit-review:hover {
  background-color: #f4b800;
}

.rating-slider {
  display: block;
  width: 95%;
  margin-top: 30px;

}

.rating-slider #rating-value {
  font-size: 28px;
  display: block;
}

.rating-slider #rating-word {
  font-size: 16px;
  display: block;
}

.rating-slider .rating-val-box {
  display: inline-block;
  float: right;
  background-color: #ccc;
  padding: 4px;
  width: 72px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
}
