.main-show-beer {
  width: 1024px;
  margin: 0 auto;
  margin-top: 25px;
}

.beer-header {
  width: 668px;
  border: 1px solid #eee;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 20px;
}

.beer-header .beer-icon {
  width: 90px;
  height: 90px;
  background-image: image-url("mug_icon.png");
  background-size: cover;
  float: left;
  margin-right: 8px;
}

.beer-header .info-list {
  display: inline-block;
}

.beer-header .num-reviews {
  float: right;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.beer-header .info-bar {
  display: block;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 16px;
  margin-top: 16px;
}

.beer-header #beer-name {
  font-size: 2em;
  margin-bottom: 6px;
  display: block;
}

.beer-header #brewery-name {
  display: block;
  font-size: 1.25em;
  color: #cc6600;
  margin-bottom: 6px;
}

.beer-header #beer-style {
  display: block;
  color: #888;
  font-size: 1em;
}

.beer-header .beer-bar-item {
  display: inline-block;
  border-right: 1px solid #e9e9e9;
  padding: 12px 0;
  text-align: center;
  font-size: 1em;
  color: #999;
  box-sizing: border-box;
}

.beer-header #abv {
  width: 14%;
}

.beer-header #ibu {
  width: 13%;
}

.beer-header #rating {
  width: 32%;
}

.beer-header #num-ratings {
  width: 21%;
}

.beer-header #date-added {
  width: 20%;
}

.beer-header .beer-description {
  font-size: 1em;
  color: #999;
  width: 480px;
  display: inline-block;
}

.beer-header .num-reviews p {
  float: left;
}

.beer-header .num-reviews #total-box,
.beer-header .num-reviews #you-box {
  color: #999999;
  padding: 6px;
}

.beer-header .num-reviews #total,
.beer-header .num-reviews #you,
.beer-header .num-reviews #total-beer-reviews,
.beer-header .num-reviews #user-beer-reviews {
  display: block;
  text-align: center;
}

.beer-header .num-reviews #total-beer-reviews,
.beer-header .num-reviews #user-beer-reviews {
  font-size: 1.4em;
}


.beer-header .num-reviews #total,
.beer-header .num-reviews #you {
  margin-bottom: 2px;
  font-size: 0.7em;
}

.beer-header .num-reviews #total-box {
  border-right: 1px solid #e9e9e9;
}

.beer-header .checkin-box, .beer-header .wishlist-box {
  width: 55px;
  float: right;
  background-color: #ffcc00;
  font-size: 35px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-left: 10px;
  cursor: pointer;
}

.beer-header .wishlist-box {
  font-size: 38px;
  padding-top: 2px;
}

.beer-check-boxes .checkin-box:hover,
.beer-check-boxes .wishlist-box:hover {
  background-color: #f4b800;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.tap-line-pic {
  width: 740px;
  height: 130px;
  margin: 20px 0;
  background-image: image-url("taps.jpg");
  background-size: cover;
}
