.comment-list .comment {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  display: block;
  font-size: 16px;
}

.detail-comment-list .comment {
  background-color: #fff;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  border-top: 1px solid #ccc;
}

.comment .main-body {
  display: inline-block;
}

.comment #comment-name {
  color: #cc6600;
  float: left;
}

.comment #comment-name:hover {
  color: #feb800;
}

.comment #comment-body {
  margin-left: 5px;
  float: left;
  font-size: 15px;
}

.comment #timestamp {
  font-size: 12px;
  color: #000;
  display: block;
  margin-top: 5px;
}
