.top-drinkers {
  float: right;
}

.main-drinkers {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #eee;
  width: 268px;
}

.drinkers-header {
  padding: 0 20px 16px 20px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.drinkers-item {
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  display: inline-block;
  width: 85%;
  float: left;
}

.drinkers-item:last-child {
  border-bottom: 0;
}

.drinkers-item #drinker-name {
  font-size: 18px;
  display: block;
  color: #cc6600;
}

.drinkers-item #drinker-name:hover {
  color: #feb800;
}

.drinkers-item #checkins {
  font-size: 13px;
  display: block;
  color: #ccc;
}

.no-drinkers {
  padding: 10px 20px;
  font-size: 18px;
}
