#root {
  padding-top: 52px;
}

.nav-bar-main {
  background-color: #ffcc00;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  height: 52px;
  position: relative;
}

.nav-logo {
  float: left;
  position: relative;
  width: 100px;
}

.nav-logo-main {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.nav-logo-sub {
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  top: 35px;
  left: 10px;
}

.nav-bar ul {
  float: left;
  padding: 12px 30px;
}

.nav-bar ul li {
  float: left;
  padding-right: 30px;
  font-size: 19px;
  letter-spacing: 1px;
}

.nav-bar .nav-right {
  float: right;
}

.nav-bar .nav-user-pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: image-url("default_avatar.png");
  background-size: cover;
  position: absolute;
  right: 264px;
  top: 8px;
}

.nav-search {
  float: left;
  margin-top: 7px;
  width: 202px;
  border-radius: 4px;
  padding: 9px 32px 8px 8px;
  font-size: 15px;
  border: 0;
  background-image: image-url("mag_glass.png");
  background-size: 18px 18px;
  background-position: 96% center;
  background-repeat: no-repeat;
}
