a {
  cursor: pointer;
}

.app-children {
  padding-top: 52px;
}

.nav-bar-main {
  background-color: #ffcc00;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-bar {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  height: 52px;
  position: relative;
}

.nav-logo {
  float: left;
  position: relative;
  width: 100px;
}

.nav-logo:hover {
  color: #000;
}

.nav-logo-main {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.nav-logo-sub {
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  top: 35px;
  left: 10px;
}

.nav-bar .nav-list {
  float: left;
  padding: 12px 30px;
}

.nav-bar .nav-list li {
  float: left;
  padding-right: 30px;
  font-size: 19px;
  letter-spacing: 1px;
}

.nav-bar .nav-list li:hover {
  color: #000;
}

.nav-bar .nav-right {
  float: right;
}

.nav-bar .nav-user-pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: image-url("default_avatar.png");
  background-size: cover;
  position: absolute;
  right: 260px;
  top: 8px;
  cursor: pointer;
}

.dropdown-content {
  position: relative;
}

.dropdown-content .hidden-list {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  top: 44px;
  left: -80px;
  z-index: 8;
  width: 200px;
  border: 2px solid #feb800;
}

.dropdown-content:hover .hidden-list {
  display: block;
}

.hidden-list li {
  padding: 12px;
  display: block;
  color: #fff;
  font-size: 1.0em;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.hidden-list li:hover {
  background-color: rgb(237, 129, 28);
  color: #000;
}

.react-autosuggest__input {
  float: left;
  margin-top: 8px;
  width: 202px;
  border-radius: 4px;
  padding: 9px 32px 8px 8px;
  font-size: 15px;
  border: 0;
  background-image: image-url("mag_glass.png");
  background-size: 18px 18px;
  background-position: 96% center;
  background-repeat: no-repeat;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  background-color: white;
  color: black;
  width: 243px;
  top: 44px;
  box-shadow: 1px 1px 1px black;
  border-radius: 2px;
}

.react-autosuggest__suggestion {
  padding: 10px 20px;
  border: 1px solid black;
  border-top: 0;
}

.react-autosuggest__suggestion:hover {
  padding: 10px 20px;
  border: 1px solid black;
  border-top: 0;
  background-color: black;
  color: white;
}

.react-autosuggest__suggestion strong {
  display: block;
}

.react-autosuggest__suggestion #search-sub {
  font-size: 12px;
  color: #ccc;
}



.react-autosuggest__section-title {
  background-color: #eee;
  padding: 10px 20px;
  font-size: 10px;
  letter-spacing: 2px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
