.main-review-detail {
  max-width: 1048px;
  min-width: 320px;
  width: 100%;
  position: relative;
  margin: 0px auto 48px;
}

.review-detail-user {
  margin-bottom: 16px;
  height: 50px;
}

.review-box {
  float: left;
  padding: 20px 50px;
  padding-right: 0;
  margin-top: 30px;
  width: 50%;
}

.review-detail-user #user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 36px;
  background-image: image-url("default_avatar.png");
  background-size: cover;
  display: inline-block;
  float: left;
}

.review-detail-user #name-count {
  display: inline-block;
  padding-left: 15px;
  padding-top: 4px;
}

.review-detail-user #name-count #user-name,
.review-detail-user #name-count #checkins {
  display: block;
}

.review-detail-user #name-count #user-name {
  font-size: 20px;
  font-weight: 400;
}

.review-detail-user #name-count #checkins{
  font-size: 13px;
  color: #999;
}

#review-detail-content {
  background-color: #fff;
  padding: 16px;
  position: relative;
}

#review-detail-content #content-top {
  margin-bottom: 16px;
}

#review-detail-content .beer-brewery {
  display: inline-block;
  margin-left: 10px;
}

#review-detail-content #review-beer-icon {
  width: 50px;
  height: 50px;
  float: left;
  background-image: image-url("beer_glass.png");
  background-size: cover;
}

.beer-brewery #beer-name {
  font-size: 25px;
  display: block;
}

.beer-brewery #brewery-name {
  color: #666;
  font-size: 15px;
  display: block;
}

#review-detail-content #content-bottom {
  padding: 10px 60px;
  border-bottom: 1px solid #eee;
}

#review-detail-content #review-detail-description {
  font-size: 17px;
  color: #666;
  margin-bottom: 16px;
}

#review-detail-content #review-detail-rating {

  background-color: #ffcc00;
  display: block;
  padding: 5px;
  color: #000;
  max-width: 120px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  letter-spacing: 2px;
  border-radius: 5px;
}

.rev-content-footer {
  padding: 10px 10px 0 10px;
}

.rev-content-footer #time-stamp {
  float: right;
  font-size: 12px;
  color: #ccc;
}

.main-review-detail .review-pic #review-image {
  float: right;
  max-width: 30%;
  max-height: 600px;
  padding: 20px 40px;
  margin-top: 97px;
  margin-right: 20px;
}

.main-rev-detail-content {
  border: 1px solid #ccc;
}
