.review-item-is-drinking {
  margin-bottom: 16px;
}

.review-item-info a {
  color: #cc6600;
}

.review-item-body {
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
}

.main-review-item #review-user-pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 14px;
  float: left;
  display: inline-block;
  background-image: image-url("default_avatar.png");
  background-size: cover;
}

.review-item-info {
  display: inline-block;
  width: 520px;
}

#review-item-rating {
  background-color: #ffcc00;
  display: block;
  margin-top: 8px;
  padding: 5px;
  color: #000;
  max-width: 120px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  letter-spacing: 2px;
  border-radius: 5px;
}

.main-review-item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.review-item-time-detail #created-at,
.review-item-time-detail #detail-link {
  display: inline-block;
  margin: 0 12px 16px 0;
  font-size: 0.8em;
}

.review-item-photo{
  height: 240px;
  width: 90%;
  overflow: hidden;
  margin-bottom: 12px;
  cursor: pointer;
}
