body {
  font-family: "ProximaNova", Helvetica Neue, Helvetica;
  background-color: orange;
}

.session {
  width: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 16px;
}

form {
  padding: 40px;
}

form h3 {

}

form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 300px;
  padding: 6px 8px;
}

.logo {
  color: #ffcc00;
  font-size: 60px;
  font-weight: bold;
  margin: auto;

}

button {
  display: block;
  margin: 0 auto;
}
