
body {
  font-family: "ProximaNova", Helvetica Neue, Helvetica;
  background-color: #f5f2e8;
}

.session-background {
  background-size: cover;
  background-image: image-url("beer_login.jpg");
  height: 100vh;
  width: 100vw;
  padding-top: 150px;
}

section.session {
  width: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 16px;
}

.session form {
  padding: 20px 40px 20px 40px;
}

.session form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 300px;
  padding: 6px 8px;
  font-size: 14px;
}

.session .logo {
  margin: auto;
  display: block;
  position: relative;
}


.logoTap {
  color: #ffcc00;
  font-size: 60px;
  font-weight: bold;

}

.logoSub {
  color: #ffcc00;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  display: block;
  position: absolute;
  left: 140px;
  top: -5px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 320px;
  background-color: #ffcc00;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 6px 30px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #feb800;
}

.session .foot-link {
  border-top: 1px solid #ccc;
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
}

.foot-link h3 {
  font-weight: bold;
  padding-bottom: 5px;

}

.guest-login {
  margin-bottom: 20px;
  font-size: 14px;
}

.guest-login #guest {
  color: blue;
  cursor: pointer;
}

.guest-login #guest:hover {
  color: red;
}

#registered-click:hover {
  color: red;
}
