.user-stats-box {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #eee;
  width: 268px;
}


.user-stats-box #stats-user-pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: image-url("default_avatar.png");
  background-size: cover;
}


.user-stats-box .stats-names {
  padding-left: 8px;
  display: inline-block;
  vertical-align: top;
}

.user-stats-box .stats-names #stats-fullname {
  font-size: 1.3em;
  font-weight: 500;
  display: block;
}


.user-stats-box .stats-count-box {
  display: block;
}

.stats-names #stats-username {
  display: block;
  font-size: 0.8em;
  color: #999;
  background: image-url("small_user_icon.png") left center no-repeat;
  padding-left: 12px;
  line-height: 1.1em;
  margin-right: 18px;

}

.user-stats-box .user-stats-top {
  position: relative;
  margin-bottom: 16px;
}

.user-stats-box .stats-count-box {
  border-radius: 4px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.stats-count-box p {
  width: 133px;
  background-color: #f8f8f8;
  padding: 8px 0;
  float: left;
  text-align: center;
}

.stats-count-box p #count-total {
  display: block;
  font-size: 1.2em;
}

.stats-count-box p #word-total {
  display: block;
  font-size: 0.6em;
}

.stats-count-box #stats-total-box {
  border-right: 1px solid #eee;
}
