.main-user-show {
  width: 1024px;
  margin: 0 auto;
}

.main-user-show .top-checkins {
  float: right;
}

.main-user-show .left-content {
  float: left;
}

.main-user-header {
  width: 984px;
  height: 165px;
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), image-url("beer_login.jpg");
  background-position: center;
  padding: 0 20px;
  padding-top: 95px;
  position: relative;
  margin-bottom: 20px;
}

#user-header-profpic {
  width: 124px;
  height: 124px;
  border-radius: 64px;
  border: 4px solid #fff;
  background-image: image-url("default_avatar.png");
  background-size: cover;
  float: left;
  z-index: 100;
}

.user-header-names {
  display: inline-block;
  float: left;
  padding-top: 46px;
  padding-left: 16px;
}

.main-user-header #user-fullname,
.main-user-header #username {
  display: block;
  color: #fff;
}

.main-user-header #user-fullname{
  font-size: 2.2em;
  font-weight: 500;
}

.main-user-header #username {
  font-weight: 600;
  background: image-url("user_icon_white.png") left center no-repeat;
  padding-left: 12px;
  font-size: 14px;
}

.user-pic-name {
  z-index: 2;
  position: absolute;
}

.header-stats {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.header-stats .stats-line {
  padding: 8px 0 0 128px;

}

.main-user-header .follow-user,
.main-user-header .remove-follow-user {
  float: right;
  z-index: 2;
  padding: 6px 16px 6px 34px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 59px;
  background-image: image-url("add_icon.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  cursor: pointer;
}

.main-user-header .follow-user {
  background-color: #ffcc00;
}

.main-user-header .remove-follow-user {
  background-color: #ccc;
}

.main-user-header .header-stats p {
  display: inline-block;
  padding: 0 32px;
  border-right: 1px solid #a9a9a9;
  height: 36px;

}

.main-user-header .header-stats p:last-child {
  border: 0;
}

.main-user-header .header-stats strong {
  display: block;
}

.header-stats .count-type {
  font-size: 0.7em;
  font-weight: 500;
}

.header-stats #count {
  font-size: 1.3em;
}
